<h1>highlight-map</h1>
<p>
  highlight-map is component written in Angular 7 outlining areas defined in map.
  It allows you to define different types of brushes that can be assigned to individual areas.
  <br/>
  The main idea is based on <a href="https://github.com/kemayo/maphilight" >https://github.com/kemayo/maphilight</a>.
  However it provides different configuration options and some additional functionalities. Current version of this library only supports poly shaped areas.
</p>
<h2>Usage</h2>
<pre>
&lt;highlight-map src="some-image.png" name="component-name"&gt;
  &lt;highlight-brush brushClass="myBrush" strokeStyle="yellow" lineWidth="5"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-brush brushClass="myBrush:hover" fillStyle="#00FF0030" lineWidth="1"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-area brushClass="myBrush"
        coords="36,377, 37,376, 39,376, 48,377, 47,378, 36,377, 36,377"&gt;&lt;/highlight-area&gt;
&lt;/highlight-map&gt;
</pre>
<div>
  <highlight-map src="/assets/angular.png" name="angular-img" #angularMap>
    <highlight-brush brushClass="decorated" strokeStyle="blue" ></highlight-brush>
    <highlight-area inactive="true" coords="35,153, 58,153, 68,124, 118,124, 129,153, 151,153, 131,104, 56,104"></highlight-area>
    <highlight-area inactive="true" coords="93,20, 56,104, 77,104, 93,70"></highlight-area>
    <highlight-area inactive="true" coords="131,104, 93,20, 93,70, 109,104"></highlight-area>

  </highlight-map>
  <button (click)="decorate()" >Decorate Angular</button>
</div>
<highlight-map src="/assets/cdk.png" name="component-dev-kit-img" #componentDevKitMap>

</highlight-map>
