<h1>highlight-map</h1>
<p>
  highlight-map is component written in Angular 7 outlining areas defined in map.
  It allows you to define different types of brushes that can be assigned to individual areas.
  <br/>
  The main idea is based on <a href="https://github.com/kemayo/maphilight" >https://github.com/kemayo/maphilight</a>.
  However it provides different configuration options and some additional functionalities. This library only supports poly shaped areas.
</p>
<h2>Features</h2>
<div>
  <span class="feature">customizable highlight for areas</span>
  - define <span class="code">highlight-brush</span> component with specific <span class="code">brushClass</span>
  this brush will be used for all <span class="code">highlight-area</span>s having the same <span class="code">brushClass</span>
</div>
<div>
  <span class="feature">on hover brushes</span>
  - define brush used on mouseover events by adding <span class="code">:hover</span> to <span class="code">brushClass</span>
</div>
<div>
  <span class="feature">default brushes</span>
  - brush with empty, <span class="code">undefined</span> or set to <span class="code">default-brush brushClass</span> is used as default;
  this brush will be used for all <span class="code">highlight-area</span>s without defined matching brush; similarly brush with
  <span class="code">brushClass</span> set to <span class="code">:hover</span> or <span class="code">default-brush:hover</span>
  will be used as default for on mouseover events
</div>
<div>
  <span class="feature">inactive areas</span>
  - it is possible to mark area as <span class="code">inactive="true"</span>; such a area is disabled and does not react
  to on mouseover events
</div>
<h2>Usage</h2>
<div class="usages-container">
  <div>
    <highlight-map src="/assets/angular.png" name="angular-img">
      <highlight-brush brushClass="decorationBlue" fillStyle="blue"></highlight-brush>
      <highlight-brush brushClass="decorationOrange" fillStyle="orange"></highlight-brush>
      <highlight-brush brushClass="decorationBlue:hover" fillStyle="yellow"></highlight-brush>
      <highlight-area [brushClass]="angularChosenBrush" inactive="true" coords="34,153, 58,153, 68,124, 118,124, 129,153, 152,153, 131,104, 56,104"></highlight-area>
      <highlight-area [brushClass]="angularChosenBrush" coords="93,20, 56,104, 77,104, 93,70"></highlight-area>
      <highlight-area [brushClass]="angularChosenBrush" inactive="true" coords="131,104, 93,20, 93,70, 109,104"></highlight-area>
    </highlight-map>
    <button (click)="brushChangeOnArea()">Change brushClass on highlight-area</button>
  </div>
  <pre>
&lt;highlight-map src="/assets/angular.png" name="angular-img"&gt;
  &lt;highlight-brush brushClass="decorationBlue" fillStyle="blue"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-brush brushClass="decorationOrange" fillStyle="orange"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-brush brushClass="decorationBlue:hover" fillStyle="yellow"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-area [brushClass]="angularChosenBrush" inactive="true"
    coords="34,153, 58,153, 68,124, 118,124, 129,153, 152,153, 131,104, 56,104"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area [brushClass]="angularChosenBrush"
    coords="93,20, 56,104, 77,104, 93,70"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area [brushClass]="angularChosenBrush" inactive="true"
    coords="131,104, 93,20, 93,70, 109,104"&gt;&lt;/highlight-area&gt;
&lt;/highlight-map&gt;
  </pre>
</div>
<div class="usages-container">
  <div>
    <highlight-map src="/assets/cdk.png" name="component-dev-kit-img">
      <highlight-brush brushClass="decorationDevKit" [fillStyle]="brushFillStyle" [strokeStyle]="brushStrokeStyle"
                       [lineDash]="brushLineDash" [lineWidth]="brushLineWidth"></highlight-brush>
      <highlight-area brushClass="decorationDevKit" coords="38,85, 68,85, 68,115, 38,115"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="38,125, 68,125, 68,156, 38,155"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="78,125, 108,125, 108,156, 78,155"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="78,85, 108,85, 108,115, 78,115"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="118,45, 148,45, 148,75, 118,75"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="118,85, 148,85, 148,115, 118,115"></highlight-area>
      <highlight-area brushClass="decorationDevKit" coords="118,125, 148,125, 148,155, 118,155"></highlight-area>
    </highlight-map>
    <button (click)="changeBrushProperties()">Change highlight-brush properties</button>
  </div>
  <pre>
&lt;highlight-map src="/assets/cdk.png" name="component-dev-kit-img"&gt;
  &lt;highlight-brush brushClass="decorationDevKit" [fillStyle]="brushFillStyle"
    [strokeStyle]="brushStrokeStyle" [lineDash]="brushLineDash" [lineWidth]="brushLineWidth"&gt;&lt;/highlight-brush&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="38,85, 68,85, 68,115, 38,115"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="38,125, 68,125, 68,156, 38,155"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="78,125, 108,125, 108,156, 78,155"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="78,85, 108,85, 108,115, 78,115"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="118,45, 148,45, 148,75, 118,75"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="118,85, 148,85, 148,115, 118,115"&gt;&lt;/highlight-area&gt;
  &lt;highlight-area brushClass="decorationDevKit" coords="118,125, 148,125, 148,155, 118,155"&gt;&lt;/highlight-area&gt;
&lt;/highlight-map&gt;
  </pre>
</div>

