@font-face {
  font-family: Alike-Regular;
  src:url("./assets/Alike-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Sitka Heading", Alike-Regular, monospace;
}

